attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.6
Cython==3.2.4
dbus_python==1.4.0
dl==0.1.0
docutils==0.22.4
filelock==3.25.2
HTMLParser==0.0.2
importlib_resources==6.5.2
inflect==7.3.1
ini2toml==0.15
ipython==9.12.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
lgpio==0.2.2.0
path.py==12.5.0
protobuf==7.34.1
pyOpenSSL==25.0.0
pyOpenSSL==26.0.0
pyserial==3.5
pytest==9.0.2
redis==7.4.0
roboflow==1.2.16
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
trove_classifiers==2026.1.14.14
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xx==3.3.2
